/* Colours */
/* Units */
/* Fonts */
.basefont {
  font: normal 12px/14px Arial, Helvetica, sans-serif;
  color: #ffffff;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  background-color: #00293d;
}
#tablet-ads,
#tablet-ads section {
  position: relative;
  padding: 0;
  margin: 0;
}
#tablet-ads span {
  position: absolute;
  z-index: 1;
  display: block;
  text-indent: -9999em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Colours */
/* Units */
/* Fonts */
.basefont {
  font: normal 12px/14px Arial, Helvetica, sans-serif;
  color: #ffffff;
}
#tablet-ads.rotator {
  height: 700px;
}
#tablet-ads.rotator section {
  margin: 0 auto;
  background-color: #00293d;
  background-repeat: no-repeat;
  background-position: 0 0;
}
#tablet-ads.rotator span.swipe {
  left: 23px;
  bottom: 13px;
  width: 185px;
  height: 22px;
  background-image: url('../images/rotate/icon-rotate-with-text.png');
}
#tablet-ads.rotator span.logo {
  left: 820px;
  bottom: 5px;
  width: 107px;
  height: 74px;
  background-image: url('../images/logo-range-rover.png');
}
#tablet-ads.rotator .spritespin-preload {
  background: transparent url('../images/loading.gif') no-repeat 50% 50%;
}
